/* body style */

body {
    text-align: center;
    background-image: url("../images/geometry3.png");
    background-repeat: repeat;
    background-color: #c8ada2;
}


/* styles for score block */

.score-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 505px;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    background-color: #c8ada2;
}

.wins {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.win-cnt {
    width: 10%;
    text-align: left;
}

.buttons {
    width: 40%;
}

.lives {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.life-cnt {
    width: 10%;
    text-align: left;
}

.score-cnt {
    width: 10%;
    text-align: left;
}

.score {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.level {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.level-num {
    width: 10%;
    text-align: left;
}

.button {
    border: 2px solid rgb(0, 0, 0);
    background-color: #c8ada2;
    padding: 5px 10px;
    color: rgb(49, 48, 48);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
}

.button:hover {
    color: rgb(163, 143, 143);
}

.button:focus {
    outline: 0;
}


/* popup  */

.popupBg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    cursor: default;
    background: rgba(253, 253, 253, 0.9)
}

.popup {
    width: 400px;
    height: 200px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    border: 3px solid black;
    background: rgb(236, 236, 187);
    margin: 40px;
}

.game-done {
    position: relative;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 1.5em;
    align-items: center;
}

.popup-score {
    font-size: 1.2em;
    position: relative;
    align-items: center;
}

.try-again {
    font-size: 1.2em;
    position: relative;
    margin-top: 70px;
    align-items: center;
}

.hide {
    display: none;
}